@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div id="app">
        @*{{$data}}*@

        <label> Nombre:</label>
        @*<input type="text" v-model="Nombre" />*@
        <p> {{ Nombre }} </p>
    </div>
</div>


@section Scripts{
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                Nombre: "Geovany Franco",
                Edad: "31"
            },
            created: function () {
                this.getPersona();
            },
            methods: {
                getPersona: function () {
                    this.$http.get("https://localhost:44388/api/persona").then(function (response) {
                        this.Nombre = response.body;
                    });
                }
            }
        })
    </script>
}